.VoteCard {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 4rem;
    background: #fff;
}

.VoteCard-header {
    padding: 24px 20px 0;
}

.VoteCard-title {
    margin: 0 0 1rem 0;
    font-size: 1.8rem;
}

.VoteCard-content {
    padding: 24px 20px;
}

.VoteCard-footer {
    padding: 0 20px 24px;
}

.VoteCard-buttons {
    display: flex;
    align-items: center;
}