@import "~normalize.css";

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Roboto', Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background: #f7f7f7;
}

html, body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Header {
    flex: 0;
}

.content {
    flex: 1;
}

.page-title {
    font-size: 3rem;
    text-align: center;
    margin: 0 0 2rem 0;
}

.Footer {
    flex: 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

.content {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}