@import "~materialize-css/dist/css/materialize.min.css";

.nav-wrapper {
    padding: 0 2rem;
}

.delete-answer {
    position: absolute;
    top: 10px;
    right: 0;
    color: #e74c3c;
    cursor: pointer;
    z-index: 10;
}

.answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choice-answer {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.answer:hover .choice-answer {
    opacity: 1;
}